    /* placeholder css for bar item, soon to be change individually */
    :root{
        --bg-color: 	#2d2d30;
        --container-bg-color:#3e3e42;
        --font-color: white;


    }


    body{
        background-color: var(--bg-color);
    }

    .headbar, .clueBar, .footerBar{
        margin: 40px;
        display: flex;
        background-color: var(--container-bg-color);
        border: 0.1px solid white;
    }
    .headbarItem{
        font-size: 18px;
        color: var(--font-color);
        flex: 1;
        padding: 10px;
    }
    .wordleTitle{
        font: bold 35px "Fira Code", monospace;
        color: var(--font-color);
        flex: 3;
        padding: 10px;
        text-align: center;
    }

    #Clue{
        color: var(--font-color);
        font: 23px bold black;
        flex: 6;
    }
    #clueReveal{
        color: var(--font-color);
        flex: 2;
    }

    .guessBox{
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .col{
        gap: 20px;
        display: flex;
        flex-direction: row;
        width: 25%;
        justify-self: center;
    }
    .textbox{
        font: bold 20px "Fira Code", monospace;
        background-color: var(--container-bg-color);
        aspect-ratio: 1;
        flex: 1;
        width: 10%;
        text-align: center;
        align-content: center;
        color: rgb(255, 255, 255);
        border-radius: 10%;
        box-shadow: 4px 5px 6px #111111, -2px -2px 7px rgba(255, 255, 255, 0.185);
    }